/***** Small Header *****/
/*
.header {
    position: relative;
}
header p {
    width: 100%;
    height: 30px;
    position: relative;
    overflow: hidden;
    z-index: -1;
    border: 1px solid white;
    background-position: center center;
    box-sizing:border-box;
    display: run-in;
    background-color: #5aa189;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 15px;
}
*/


/***** NAVBAR *****/
.navbar-default {
  background-color: #66c2a4;
  border-radius: 0;
  background-image: none;
  margin-bottom: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000000;
}

/* Navbar links */
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
}

.navbar-default .navbar-nav .fab,
.navbar-default .navbar-nav .fas {
	font-size: 20px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #66c2a4;
  color: #66c2a4;
}


/*** Portfolio pieces ***/
.thumbnail {
  background-color: #fff;
  border-color: #66c2a4;
  border-width: 2px;
  width: 95%;
}

.thumbnail:hover 
.thumbnail:focus{
  border-color: #000000;
}

.caption {
	padding: 0 4px 0 4px;
	margin: 10px 0 20px 0;
}

.caption p {
  color: #525252;
  font-size: 16px;
  text-align: center;
}

.caption h3 {
  color: #525252;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}


/*** Resume ***/
.resume li {
  list-style: square;
  color: #525252;
  font-size: 16px;
  margin-top: 5px;
}

.resume ul {
  margin-top: 10px;
  margin-bottom: 30px;
}

.resume p {
  font-size: 18px;
  color: #525252;
}

.resume h4 {
  color: #525252;
  font-weight: bold;
  font-size: 18px;
}

.resume h3 {
  color: #525252;
  font-weight: bold;
  font-size: 25px;
}

.resume-title p {
  color: #525252;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0;
}

.resume-education h4 {
  color: #525252;
  font-weight: 600;
  text-align: center;
}

.resume-education p {
  color: #525252;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.resume-education img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


/*** About ***/
#about {
  max-height: 300px;
  margin-bottom: 20px;
}

.about p {
  color: #525252;
  font-size: 22px;
  font-weight: none;
}


/*** Portfolio Individual Pages ***/
.portfolio-image {
margin-bottom: 20px;
}

.portfolio-title {
  font-size: 35px;
  color: #525252;
  font-weight: 600;
  text-align: left;
}

.portfolio-about {
  font-size: 25px;
  color: #525252;
  font-weight: 600;
  text-align: left;
}

.portfolio-description {
  font-size: 20px;
  color: #525252;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
}

.portfolio-source {
  font-size: 18px;
  color: #525252;
  font-weight: 600;
  text-align: left;
}

.portfolio-sourcelist {
  font-size: 16px;
  color: #525252;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  word-break:break-word
}

/*** General ***/
hr {
  border-color: #969696;
  border-width: 2px;
}

p {
  font-size: 20px;
  color: #525252;
}

a {
  color: #66c2a4;
}

a:hover {
  color: #ebd122;
}


/*** Top Banner ***/
.jumbotron {
  text-align: center;
  background-color: #969696;
  padding: 1%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.jumbotron p {
  font-size: 26px;
  font-weight: 300;
  color: white;
}


/*** General Body ***/
body {
  padding-top: 50px;
  font-family: 'notosans_regular', sans-serif;
  background-color: #f7f1fa;
}

