/***** Small Header *****/
.header {
    position: relative;
}
header p {
    width: 100%;
    height: 30px;
    position: relative;
    overflow: hidden;
    z-index: -1;
    border: 1px solid white;
    background-position: center center;
    box-sizing:border-box;
    display: run-in;
    background-color: #5aa189;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 15px;
}

/***** NAVBAR *****/
.navbar-default {
  background-color: #66c2a4;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000000;
}

/* Navbar links */
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
}

.navbar-default .navbar-nav .fab,
.navbar-default .navbar-nav .fas {
	font-size: 24px;
}



/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #ebd122;
  color: #242424;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail h3 {
  font-size: 16px;
  text-align: center;
  margin-top: 0px
}

.portfolio-thumbnail p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.caption {
	padding: 0 4px 0 4px;
	margin: 10px 0 20px 0;
}

.caption p {
  font-size: 14px;
  text-align: center;
}

.caption h3 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.portfolio-thumbnail {
  background-color: #fff;
  border-color: #66c2a4;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #ebd122;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}

/*** Resume ***/
.resume li {
  font-size: 16px;
}

.resume p {
  font-size: 18px;
}

.resume h5 {
  font-weight: bold;
  font-size: 16px;
}

.resume h4 {
  font-weight: bold;
  font-size: 18px;
}

.resume h3 {
  font-weight: bold;
  font-size: 25px;
}

.resume-caption {
	padding: 0 4px 0 4px;
	margin: 10px 0 20px 0;
}

.resume-caption p {
  font-size: 20px;
  text-align: center;
}

.resume-caption h3 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

table{
    width: 100%;
    border-collapse:collapse;
    border: 0px solid black;
    table-layout: fixed;
    align:center;
}

td{
    width: 50%;
    text-align: center;
    border: 0px solid black;
}



/*** General ***/
hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 20px;
}

a {
  color: #863ee3;
}

a:hover {
  color: #ebd122;
}

/*** Top Banner ***/
.jumbotron {
  background-image: url("../assets/Picture3.png");
  text-align: center;
  color: black;
  padding: 2%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
}

/*** General Body ***/
body {
  padding-top: 50px;
  font-family: 'notosans_regular', sans-serif;
  background-color: #f7f1fa;
  color: #242424;
}

